/* ==================== 
        || Header || '
    ==================== */

.myNavLink,
.myNavLink:active,
.myNavLink:visited,
.myNavLink:hover,
.myNavLink:focus {
    padding: 2vh;
    text-decoration: none;
    color: #02457a !important;
}

.myNavLinkIsActive,
.myNavLinkIsActive:active,
.myNavLinkIsActive:visited,
.myNavLinkIsActive:hover,
.myNavLinkIsActive:focus {
    padding: 2vh;
    text-decoration: underline;
    color: #dcd964;
    font-weight: bold;
}


nav.myNavbar {
    position: -webkit-sticky;
    position: sticky;
    background: rgb(88, 106, 226);
    background: linear-gradient(
        90deg,
        rgba(88, 106, 226, 1) 0%,
        rgba(183, 38, 85, 1) 35%,
        rgba(227, 6, 20, 1) 100%
    );
    top: 0;
    z-index: 1000 !important;
}

nav.myNavbar span {
    padding-left: 0.1rem;
    font-weight: regular;
}
/* ==================== 
        || CardItem || '
    ==================== */

.myImage {
    text-align: center;
    padding: 0.1rem;
}
.myImage > img {
    width: 50%;
}

.myItem .card-body a {
    text-decoration: none;
}

.myItem .card-title {
    text-decoration: none;
    font-size: 1rem;
    color: #ff8357;
    text-align: left;
}

.authorName {
    font-size: 0.9rem;
    color: #ccabd8;
}