.myItem {
    height: 35rem;
    padding-top: 1rem;
}
.myItem .card {
    padding: 0.1rem;
}

.myNavLink {
    padding: 2vh;
    text-decoration: none;
    color: rgb(15, 16, 20);
}
.myNavLink:hover {
    padding: 2vh;
    text-decoration: none;
    color: rgb(15, 16, 20);
}
.myNavLinkIsActive {
    padding: 2vh;
    text-decoration: underline;
    color: red;
    font-weight: bold;
}
