/* .myItem {
    height: 35rem;
    padding-top: 1rem;
}
.myItem .card {
    padding: 0.1rem;
} */

.myNavLink {
    padding: 2vh;
    text-decoration: none;
    color: rgb(15, 16, 20);
}
.myNavLink:hover {
    padding: 2vh;
    text-decoration: none;
    color: rgb(15, 16, 20);
}
.myNavLinkIsActive {
    padding: 2vh;
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

.myLink {
    text-decoration: none;
    border: 0.1rem green;
    color: green;
    background-color: white;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
}

.myLink:hover {
    text-decoration: inherit;
    border: inherit;
    background-color: green;
    color: white;
    /* text-decoration: none;
    border: 0.1rem green;
    color: green;
    background-color: white;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem; */
}

.swiper-container {
    width: 480px;
}

@media screen and (min-width: 640px) {
    .swiper-container {
        width: 640px;
    }
}

@media screen and (min-width: 768px) {
    .swiper-container {
        width: 768px;
    }
}

.swiper-button-next {
    color: red;
}

.swiper-button-prev {
    color: red;
}

.filterButton {
    background-color: white;
    color: black;
    border: none;
    text-align: left;
    text-transform: capitalize;
}